<h2 class="titleHeader">Распределение баллов</h2>
<div class="inputTextShell leftHalf">
    <input type="text" class="textField weight" placeholder="Весовой коеф. 1">
    <label class="prompt promptExpanded">Весовой коеф. 1</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" class="textField weight" placeholder="Весовой коеф. 2">
    <label class="prompt promptExpanded">Весовой коеф. 2</label>
</div>
<div style="clear: both"></div>
<h2 class="additionalHeader">Распределение баллов. Модуль 1</h2>



<div style="clear: both"></div>
<h2 class="additionalHeader">Распределение баллов. Модуль 2</h2>

<div class="message center"></div>

<!--<button id="backButton">Вернуться</button>-->
<button id="forwardButton">Готово</button>