<h2 class="titleHeader">Распределение баллов</h2>
<div class="inputTextShell leftHalf">
    <input type="text" class="textField weight" placeholder="Весовой коеф. 1">
    <label class="prompt promptExpanded">Весовой коеф. 1</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" class="textField weight" placeholder="Весовой коеф. 2">
    <label class="prompt promptExpanded">Весовой коеф. 2</label>
</div>
<div style="clear: both"></div>
<h2 class="additionalHeader">Распределение баллов. Модуль 1</h2>
<div class="flex-container">
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Посещение</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Лекции</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Практика</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Лабор.</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Семинар</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">АКР</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">ДКР</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">МК</div>
    </div>
</div>


<div style="clear: both"></div>
<h2 class="additionalHeader">Распределение баллов. Модуль 2</h2>
<div class="flex-container">
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Посещение</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Лекции</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Практика</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Лабор.</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">Семинар</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">АКР</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">ДКР</div>
    </div>
    <div class="flex-cell">
        <input type="text">
        <div class="flex-prompt">МК</div>
    </div>
</div>

<div class="message center"></div>

<!--<button id="backButton">Вернуться</button>-->
<button id="forwardButton">Готово</button>