<div class="readonlyTextShell leftHalf alwaysBlue" >
    <input value="" type="text" name="CommonHoursAmount" class="readonlyTextField someUp" readonly>
    <label class="bottomPrompt" >Всего аудит. часов</label>
</div>
<div class="readonlyTextShell rightHalf alwaysBlue" >
    <input value="" type="text" name="selfCommonHoursAmount" class="readonlyTextField someUp" readonly>
    <label class="bottomPrompt" >Всего самост. часов</label>
</div>
<div style="clear: both"></div>
<h2 class="additionalHeader">Характеристика дисциплины</h2>
<div class="readonlyTextShell centerOne alwaysBlue" >
    <input ng-model="step.semester" type="text" name="Semester" class="readonlyTextField someUp" id="textField26" readonly>
    <label class="bottomPrompt" >Семестр</label>
</div>
<div style="clear: both"></div>
<div class="inputTextShell centerOne">
    <input ng-model="step.moduleAmount" type="text" name="moduleAmount" class="textField" placeholder="Количество модулей  (макс. 2)" autocomplete="off">
    <label class="prompt promptExpanded">Количество модулей (макс. 2)</label>
</div>
<div style="clear: both"></div>


<h4 class="additionalHeader">Модуль 1</h4>
<h2 class="additionalHeader">Аудиторные часы</h2>
<div class="inputTextShell leftHalf">
    <input  type="text" name="lectureAudit" class="textField" placeholder="Лекции" autocomplete="off">
    <label class="prompt promptExpanded">Лекции</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" name="practiceAudit" class="textField" placeholder="Практика" autocomplete="off">
    <label class="prompt promptExpanded">Практика</label>
</div>

<div class="inputTextShell leftHalf">
    <input type="text" name="laborAudit" class="textField" placeholder="Лабораторн." autocomplete="off">
    <label class="prompt promptExpanded">Лабораторн.</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" name="seminarAudit" class="textField" placeholder="Семинар" autocomplete="off">
    <label class="prompt promptExpanded">Семинар</label>
</div>
<div style="clear: both"></div>

<h2 class="additionalHeader">Самостоятельные часы</h2>
<div class="inputTextShell leftHalf">
    <input type="text" name="lectureAudit" class="textField" placeholder="Лекции" autocomplete="off">
    <label class="prompt promptExpanded">Лекции</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" name="practiceAudit" class="textField" placeholder="Практика" autocomplete="off">
    <label class="prompt promptExpanded">Практика</label>
</div>

<div class="inputTextShell leftHalf">
    <input type="text" name="laborAudit" class="textField" placeholder="Лабораторн." autocomplete="off">
    <label class="prompt promptExpanded">Лабораторн.</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" name="seminarAudit" class="textField" placeholder="Семинар" autocomplete="off">
    <label class="prompt promptExpanded">Семинар</label>
</div>
<div style="clear: both"></div>

<h2 class="additionalHeader">Вид контроля</h2>
<div class="inputTextShell leftHalf">
    <input type="text" name="auditKR" class="textField" placeholder="Аудит. К.Р.">
    <label class="prompt promptExpanded">Аудит. К.Р.</label>
</div>
<div class="inputTextShell rightHalf">
    <input type="text" name="domKR" class="textField" placeholder="Дом. К.Р.">
    <label class="prompt promptExpanded">Дом. К.Р.</label>
</div>

<div style="clear: both"></div>
<div class="inputTextShell centerOne">
    <input type="text" name="MKT" class="textField" placeholder="Модульный контроль">
    <label class="prompt promptExpanded">Модульный контроль</label>
</div>
<div style="clear: both"></div>






<div id='m2Container' style='display: none'>
    <h4 class="additionalHeader">Модуль 2</h4>
    <h2 class="additionalHeader">Аудиторные часы</h2>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Лекции" autocomplete="off">
        <label class="prompt promptExpanded">Лекции</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Практика" autocomplete="off">
        <label class="prompt promptExpanded">Практика</label>
    </div>

    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Лабораторн." autocomplete="off">
        <label class="prompt promptExpanded">Лабораторн.</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Семинар" autocomplete="off">
        <label class="prompt promptExpanded">Семинар</label>
    </div>
    <div style="clear: both"></div>

    <h2 class="additionalHeader">Самостоятельные часы</h2>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Лекции" autocomplete="off">
        <label class="prompt promptExpanded">Лекции</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Практика" autocomplete="off">
        <label class="prompt promptExpanded">Практика</label>
    </div>

    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Лабораторн." autocomplete="off">
        <label class="prompt promptExpanded">Лабораторн.</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Семинар" autocomplete="off">
        <label class="prompt promptExpanded">Семинар</label>
    </div>
    <div style="clear: both"></div>

    <h2 class="additionalHeader">Вид контроля</h2>
    <div class="inputTextShell leftHalf">
        <input type="text" name="auditKR" class="textField" placeholder="Аудит. К.Р.">
        <label class="prompt promptExpanded">Аудит. К.Р.</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" name="domKR" class="textField" placeholder="Дом. К.Р.">
        <label class="prompt promptExpanded">Дом. К.Р.</label>
    </div>

    <div style="clear: both"></div>
    <div class="inputTextShell centerOne">
        <input type="text" name="MKT" class="textField" placeholder="Модульный контроль">
        <label class="prompt promptExpanded">Модульный контроль</label>
    </div>
</div>
<div class="message center"></div>
<button id="forwardButton">Дальше</button>