#mainFrame{
    max-width: 700px !important;
    margin: 0 0 0 0!;
}

.selectOne{
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.84rem;
    background: none;
    color: inherit;
    text-indent: 10px;
    border: none;
    outline: none;
}
.selectShell{
    position: relative;
    height: 44px;
    width: calc(100% - 2px);
    overflow: visible;
    margin-top: 10px;
    background: #ffffff;
    border: 1px solid #d4ddf0;
    box-shadow: 2px 2px 0 0 #cfd8eb;
    color: #2d6ca6;
    transition: box-shadow 0.2s linear;
    -webkit-transition: box-shadow 0.2s linear;
}
.selectShell select:focus{
    background: #f1f8ff;
}
select:focus{
    background: none;
}
select:focus option{
    background: #ffffff;
}
select:focus::-ms-value {background-color: white; color: inherit}

.table-students{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}
.table-students thead{
    text-align: center;
    /* #eaeef5 */
    background-color: #5083B2;
    color: white;
}
.table-students thead td{
    border: none;
    border-right: 1px dashed white;
}

.table-students td{
    border: 1px solid #cbd3e6;
    height: 30px;
    padding: 0;
    text-align: center;
}
.table-students .little{
    width: 70px;
}
.table-students .smallest{
    width: 30px;
    cursor: pointer;
}
.table-students input{
    height: 100%;
    width: 100% !important;
    text-indent: 10px;
    border: none;
    outline: none;
}
.table-students input:focus{
    box-shadow: inset 0px 3px 10px -5px #5083B2;
}
.table-students select{
    width: 100%;
    height: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 0.84rem;
    background-color: #F7FBFF;
    color: inherit;
    text-indent: 10px;
    border: none;
    outline: none;
}
.table-students select:focus{
    box-shadow: inset 0px 3px 10px -5px #5083B2;
}

.comboTriangle{
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: inherit;
    width: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    -webkit-transition: transform 0.1s ease-out;
}
.comboTriangle svg{
    display: block;
    position: absolute;
    height: 30%;
    width: 30%;
    right: 9px;
    top: 18px;
    fill: #cbd3e6;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
.comboTriangle:hover{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}
.comboContainer {
    display: none;
    position: absolute;
    background: #ffffff;
    border: 1px solid #cbd3e6;
    border-top: none;
    width: 100%;
    top: 48px;
    height: auto;
    max-height: 500px;
    z-index: 2;
}
.comboItem {
    display: block;
    position: static;
    width: inherit;
    height: 45px;
    border-bottom: 1px dashed #cbd3e6;
    padding-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 0.95rem;
    text-align: left;
    text-indent: 10px;
    cursor: pointer;
    outline: none;
}
.comboItem:last-of-type{
    border-bottom: none;
}
.comboItem:focus, .comboItem:hover{
    background: #f7f7fa;
}
.firstComboHeader{
    display: block;
    color: #59595a;
    line-height: 1.5;
}
.secondComboHeader{
    display: block;
    font-size: 0.75rem;
    line-height: 1.5;
    color: #9a9a9b;
}
.screenholder{
    text-align: center;
}
.screenholder svg{
    fill: rgba(45, 108, 166, 0.7);
    width: 35%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.screenholder p{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    color: #2d6ca6;
}

#stepsContainer{
    position: relative;
    text-align: center;
    height: 10px;
}
#steps {
    display: inline-block;
    position: absolute;
    background-color: #cbd3e6;
    color: white;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    top: -9px;
    left: calc(50% - 17px);
    visibility: hidden;
}

.leftHalf{
    width: calc(50% - 5px);
    clear:both;
    float: left;
}
.left60percHalf{
    width: calc(60% - 5px);
    clear:both;
    float: left;
}
.right40percHalf{
    width: calc(40% - 5px);
    float: right;
    margin-right: 0px !important;
}
.rightHalf{
    width: calc(50% - 5px);
    float: right;
    margin-right: 0px !important;
}
.leftThird{
    width: calc(33% - 5px);
    clear:both;
    float: left;
}
.centerThird{
    width: calc(33% - 5px);
    float: left;
    margin-left: 8px;
}
.rightThird{
    width: calc(33% - 5px);
    float: right;
    margin-right: 0;
}
.centerOne{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}