.profileContainer{
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    margin-top: 50px;
    color: #393939;
}

.introProfile{
    float: left;
    width: 250px;
    text-align: center;
}
.mainProfile{
    position: relative;
    font-family: "Open Sans", sans-serif;
    float: right;
    width: calc(100% - 255px);
    height: auto;
    margin-bottom: 30px;
}

.pictureProfile{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.pictureProfile img{
    width: 80%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}
.infoProfile{
    line-height: 2;
}

.infoLine{
    color: #393939;
}
.infoLineSubheader{
    color: #878787;
}
.nickHeader{
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #2d6ca6;
}

.separator{
    background: linear-gradient(to right, #e0e4f5, #cbd3e6, #e0e4f5);
    width: 80%;
    height: 1px;

    margin-top: 40px;
    margin-bottom: 40px;
}