<link rel="stylesheet" href="{{ static_url('css/add.css') }}">
<script src="{{ static_url('js/add_group.js') }}"></script>

<h4 class="titleHeader">Новая группа</h4>
<div id="mainFrame">
    <div class="inputTextShell centerOne">
        <input type="text" class="textField" placeholder="Шифр группы" required autocomplete="off">
        <label class="prompt">Шифр группы</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Отрасль знаний" required autocomplete="off">
        <label class="prompt">Отрасль знаний</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Направление подготовки" required autocomplete="off">
        <label class="prompt">Направление подготовки</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Форма обучения" required autocomplete="off">
        <label class="prompt">Форма обучения</label>
    </div>
    <div class="selectShell rightHalf">
        <select class="selectOne" model="sex" default="Б">
            <option value="Б" selected="selected">Бюджет</option>
            <option value="К">Контракт</option>
        </select>
        <label class="prompt promptExpanded">Форма финансирования</label>
    </div>
    <div style="clear: both;"></div>
    <div class="inputTextShell centerOne">
        <input type="text" class="textField" placeholder="Специальность" required autocomplete="off">
        <label class="prompt">Специальность</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Факультет, отделение" required autocomplete="off">
        <label class="prompt">Факультет, отделение</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Декан, завотдел." required autocomplete="off">
        <label class="prompt">Декан, завотдел.</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="ВУЗ" required autocomplete="off">
        <label class="prompt">ВУЗ</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Квалиф. уровень" required autocomplete="off">
        <label class="prompt">Квалификационный уровень</label>
    </div>
    <div style="clear: both"></div>
    <h2 class="additionalHeader">Список студентов</h2>
    <table class="table-students">
        <thead>
            <tr>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td class="little">Пол</td>
                <td class="little">Льготн.</td>
                <td class="little">Финанс.</td>
                <td class="smallest"></td>
            </tr>
        </thead>
        
        <tbody list-model>
            <tr>
                <td>
                    <input type="text" placeholder="Иванов" model-key="last">
                </td>
                <td>
                    <input type="text" placeholder="Иван" model-key="first">
                </td>
                <td>
                    <input type="text" placeholder="Иванович" model-key="middle">
                </td>
                <td class="little">
                   <select class="selectOne" model-key="sex" novalidate="true">
                        <option value="M" selected="selected">М</option>
                        <option value="F">Ж</option>
                   </select>
                </td>
                <td class="little">
                    <input type="text" placeholder="Д" model-key="privilege">
                </td>
                <td class="little">
                    <input type="text" placeholder="Бюджет" model-key="finance">
                </td>
                <td>x</td>
            </tr>
        </tbody>
    </table>
    <button id="addButton">Добавить</button>
</div>