<link rel="stylesheet" href="{{ static_url('css/add.css') }}">
<script src="{{ static_url('js/add_group.js') }}"></script>

<h4 class="titleHeader">Новая группа</h4>
<div id="mainFrame">
    <div class="inputTextShell centerOne">
        <input type="text" class="textField" placeholder="Шифр группы" required autocomplete="off">
        <label class="prompt">Шифр группы</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Отрасль знаний" required autocomplete="off">
        <label class="prompt">Отрасль знаний</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Направление подготовки" required autocomplete="off">
        <label class="prompt">Направление подготовки</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Форма обучения" required autocomplete="off">
        <label class="prompt">Форма обучения</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Форма финансирования" required autocomplete="off">
        <label class="prompt">Форма финансирования</label>
    </div>
    <div style="clear: both;"></div>
    <div class="inputTextShell centerOne">
        <input type="text" class="textField" placeholder="Специальность" required autocomplete="off">
        <label class="prompt">Специальность</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="Факультет, отделение" required autocomplete="off">
        <label class="prompt">Факультет, отделение</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Декан, завотдел." required autocomplete="off">
        <label class="prompt">Декан, завотдел.</label>
    </div>
    <div class="inputTextShell leftHalf">
        <input type="text" class="textField" placeholder="ВУЗ" required autocomplete="off">
        <label class="prompt">ВУЗ</label>
    </div>
    <div class="inputTextShell rightHalf">
        <input type="text" class="textField" placeholder="Квалиф. уровень" required autocomplete="off">
        <label class="prompt">Квалификационный уровень</label>
    </div>
    <div style="clear: both"></div>
    <h2 class="additionalHeader">Список студентов</h2>
    <table class="table-students">
        <thead>
            <tr>
                <td>Фамилия</td>
                <td>Имя</td>
                <td>Отчество</td>
                <td class="little">Пол</td>
                <td class="little">Льготн.</td>
                <td class="little">Финанс.</td>
            </tr>
        </thead>
        
        <tbody>
            <tr>
                <td>
                    <input type="text" placeholder="Иванов">
                </td>
                <td>
                    <input type="text" placeholder="Иван">
                </td>
                <td>
                    <input type="text" placeholder="Иванович">
                </td>
                <td class="little">
                   <select class="selectOne">
                        <option value="M" selected="selected">М</option>
                        <option value="F">Ж</option>
                   </select>
                </td>
                <td class="little">
                    <input type="text" placeholder="Д">
                </td>
                <td class="little">
                    <input type="text" placeholder="Бюджет">
                </td>
            </tr>
        </tbody>
    </table>
</div>