<link rel="stylesheet" href="{{ static_url('css/invite.css') }}">
<script src="{{ static_url('js/invite.js') }}"></script>

<h4 class="titleHeader">Новый пользователь</h4>
<div id="mainFrame">
    <div class="inputTextShell centerOne">
        <input type="text" class="textField" placeholder="Ник-нейм" required latin model="login">
        <label class="prompt">Ник-нейм</label>
    </div>
    <div class="inputTextShell centerOne">
        <input type="text" class="textField" placeholder="Фамилия" required autocomplete="off" model="last">
        <label class="prompt">Фамилия</label>
    </div>
    <div class="inputTextShell centerOne">
        <input type="text" name="firstName" class="textField" placeholder="Имя" required autocomplete="off" model="first">
        <label class="prompt">Имя</label>
    </div>
    <div class="inputTextShell centerOne">
        <input type="text" name="middleName" class="textField" placeholder="Отчество" autocomplete="off" model="middle">
        <label class="prompt">Отчество</label>
    </div>
    <div class="inputTextShell centerOne">
        <input type="text" name="middleName" class="textField" placeholder="Права доступа" numeric access-prompt model="access">
        <label class="prompt">Права доступа</label>
    </div>
    <div class="selectShell centerOne">
        <select class="selectOne" model="sex" value="">
            <option value="M" selected="selected">М</option>
            <option value="F">Ж</option>
        </select>
        <label class="prompt promptExpanded">Пол</label>
    </div>
    <div class="message"></div>
    <button id="inviteButton">Пригласить</button>
</div>

<div id="invitedFrame">
    <h4 class="inviteHeader">Передайте эту информацию пользователю!</h4>
    <div class="inviteLetterContent">
        <p class="invitePrompt">Логин: <span id="gen-login"></span></p>
        <p class="invitePrompt">Пароль: <span id="gen-password"></span></p>
    </div>
</div>