<link rel="stylesheet" href="{{ static_url('css/profile.css') }}">
<script src="{{ static_url('js/profile.js') }}"></script>
<h4 class="titleHeader">Профиль</h4>
<div class="profileContainer">
    <div class="introProfile">
        <div class="pictureProfile">
            {% if sex == 'M' %}
                <img class="img-faded" src="{{ static_url('content/svg/avatar.m.svg')}}">
            {% else %}
                <img class="img-faded" src="{{ static_url('content/svg/avatar.f.svg')}}">
            {% end %}
        </div> 
        <div class="settingsProfile">
            <div class="buttonContainer" style="margin-top: 0;">
                <div class="customButton reversed" style="margin-left: 30px;">
                    <button style='font-size: 1rem'>Редактировать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="mainProfile">
        <div class="infoProfile">
            <div class="nickHeader">{{ login }}</div>
            <div class="infoLine"><span class="infoLineSubheader">Полное имя: </span>{{ first }} {{ middle }} {{ last }}</div>
            <div class="infoLine"><span class="infoLineSubheader">Адресс эл. почты: </span>{{ email }}</div>
<!--
            <div class="infoLine"><span class="infoLineSubheader">Квалиф. категория: </span>[[user.cvalif_category]]</div>
            <div class="infoLine"><span class="infoLineSubheader">Педагогическое звание: </span>[[user.teaching_title]]</div>
-->
        </div>
        <hr class="separator">
        <div class="statisticProfile">
        </div>
    </div>
</div>